@model IEnumerable<PharmacyApp.Domain.Entities.Medicine>

@{
    ViewData["Title"] = "Медикаменти";
}

<h2>Medicines</h2>
<p><a class="btn btn-primary" asp-action="Create">Добавити медикамент</a></p>

<table class="table">
    <thead>
        <tr>
            <th>Зовнішній вигляд</th>
            <th>Назва</th>
            <th>Опис</th>
            <th>Ціна</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medicine in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(medicine.IconUrl))
                    {
                        <img src="@medicine.IconUrl" alt="@medicine.Name" style="width: 50px; height: 50px;" />
                    }
                </td>
                <td>@medicine.Name</td>
                <td>@medicine.Description</td>
                <td>@medicine.Price.ToString("C")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@medicine.Id">Змінити</a> |
                    <a asp-action="Delete" asp-route-id="@medicine.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
